/* HCKME */
body {
    font-family: cursive;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    position: fixed;
}

input {
    border-color: aquamarine;
    border-radius: 5px;
}


#inBody {
    height: 50%;
    width: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5%;
    position: fixed;
    color: whitesmoke;
    transition: width 2s, height 2s;
    overflow: hidden;
    border-radius: 60px;
}

#inBody:hover {
    
    height: 75%;
    width: 50%;
    transform: width 2s, height 2s;
}

#inHead {
    height: 30%;
    width: 100%;
    border: 0px;
    border-style: double;
    text-align: right;
    border-radius: 10%;
    background-color: aquamarine;
    float: right;
    font-size: xx-large;
    overflow: hidden;
}

#buttonOpen {
    height: 5%;
    width: 10%;
    margin-top: 0.25%;
    border-radius: 10%;
    border-width: 0px;
    background-color: aquamarine;
    font-weight: bold;
    font-size:x-large;
    color: whitesmoke;
    margin-left: 2px;
}

#buttonOpen:hover {
    height: 10%;
    width: 15%;
    transition: width 2s, height 4s;
}

#buttonClose {
    border-radius: 5%;
    border-width: 0px;
    float: inline-end;
}

#inScreen {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    background-color: aquamarine;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
}

#inText {
    padding: 5%;
    font-size: x-large;
    font-style: italic;
}

#imgChange {
    margin-top: 10%;
    border-radius: 10px;
}

html {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }